
.header {

    margin-top: 15vh;
    margin-bottom: 4vh;
    margin-left: 15vw;

    font-size: 4rem;
    font-weight: 500;


}


.experience_container {
    width: 60vw;
    margin: auto;

    font-weight: 100;

    .experience {
        margin-bottom: 4vh;

        .title {
            margin-bottom: .6vh;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .position {
            margin-bottom: 1vh;
            
            font-size: 1rem;
            font-style: italic;

        }


        .points {
            li {
                margin-bottom: .5vh;

                font-size: .9rem;
                font-weight: 300;
            }
        }
    }
}


@media only screen and (max-width: 900px) {
    .header {
        margin-left: 12vw;
    }
    .experience_container {
        width: 80vw;
    }
}

@media only screen and (max-width: 500px) {
    .header {
        width: fit-content;

        // margin-left: 8vw;
        margin-left:auto;
        margin-right:auto;
    }

    .experience_container {
        .experience {
    
            // text-align: justify;
            // text-justify: inter-word;

            .points {
                li {
                    margin-bottom: .5vh;
    
                    font-size: .9rem;
                    font-weight: 300;
                }
            }
        }
    }
}

@media only screen and (max-width: 360px) {
    .header {

        font-size: 3rem;

        width: fit-content;

        // margin-left: 8vw;
        margin-left:auto;
        margin-right:auto;


    }

}